:root {
  --color-white: #fff;
  --padding: 3rem;
}

/* About Us */

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

h2 {
  font-size: 3rem !important;
  font-weight: 700 !important;
  margin-bottom: 0.7rem;
  padding: var(--padding) 0;
}

img {
  display: block;
  object-fit: cover;
}

.section-center {
  display: block;
  margin: auto;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .section-center {
    width: 80%;
  }
}

.banner {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h2 {
  height: 100%;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .banner h2 {
    justify-content: end;
    align-items: flex-end;
  }
}

/* Navbar */

.navbar-nav .nav-item {
  display: block !important;
}

.about-us {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/about.jpg");
}

.about-us-description {
  padding: var(--padding) 0 0 0;
}

.team-members span {
  display: block;
}

/* Testimonials */

.checked {
  color: orange;
}

.testimonials img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testimonials .card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.testimonials .card-header-info .fa-star {
  margin: 0 0.1rem;
}

/* Contact Us */

.contact-us .form-group {
  margin: 1rem 0;
}

/* Vacancy */

.vacancy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/about.jpg");
}
